@import "tailwindcss";
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

:root {
  --color-primary: #955e37;
  --color-secondary: #faf8eb;
  --sidebar : 25 30% 15%;
}

body {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: var(--color-secondary);
}

.titulo{
  color: var(--color-primary)!important;
}

.sidebar{
  background: hsl(var(--sidebar))
}
