@import "tailwindcss";
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

:root {
  --color-primary: #955e37;
  --color-secondary: #faf8eb;
  --sidebar : 25 30% 15%;
}

body {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: var(--color-secondary);
  overflow-x: hidden;
}

.titulo{
  color: var(--color-primary)!important;
}

.colorBackground {
  background: var(--color-primary)!important;
}

.sidebar{
  background: hsl(var(--sidebar))
}



@media (max-height: 700px) {
  .body-components {
    height: 100%;
  }
  .sideBar-hidden-h-700px {
    visibility: hidden;
  }
}


@media (min-height: 700px) {
  .body-components {
    max-height: 560px;
  }
}

@media (min-height: 700px) {
  .body-components {
    max-height: 670px;
  }
}

@media (min-height: 800px) {
  .body-components {
    max-height: 760px;
  }
}

@media (min-height: 800px) and (max-width: 500px) {
  .body-components {
    max-height: 830px;
  }
}

/* Si la altura es al menos 800px, cambia el fondo a verde */
@media (min-height: 900px) {
  .body-components {
    max-height: 840px;
  }
}

@media (min-height: 1000px) {
  .body-components {
    max-height: 940px;
  }
}

@media (min-height: 1100px) {
  .body-components {
    max-height: 1100px;
  }
}

@media (min-height: 1336px) {
  .body-components {
    max-height: 1300px;
  }
}

/*
* Se arreglo incopatibilidad de flex de mozila firefox
*
*/

@supports (-moz-appearance: none) {
  .mozila-firefox {
    display: grid;
    place-items: center;
  }
}

/* 
* Responsive para todas las tablas
*/

@media (max-width: 640px) {
  /* Oculta todas las columnas excepto la primera y la última en pantallas pequeñas */
  td:not(:first-child):not(:last-child), 
  th:not(:first-child):not(:last-child) {
    display: none;
  }
}


.body-components::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}

.body-components::-webkit-scrollbar-track {
  background: transparent;
}

.body-components::-webkit-scrollbar-thumb {
  background: #955e37;
}

/* Modal de boletas  */
.boletas::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}

.boletas::-webkit-scrollbar-track {
  background: transparent;
}

.boletas::-webkit-scrollbar-thumb {
  background: #955e37;
  border-radius: 50px;
}

a.active {
  background: #5A3F27;
}

.elements-active.active{
  background: #5A3F27;
  color: white;
}

.font-title {
  color: #31251B;
}

.bg-opa-50{
  background: rgba(0, 0, 0, 0.5);
}